@import "./utils/variables";
@import "./components/logo";
@import "./components/header";
@import "./components/section1";
@import "./components/section2";
@import "./components/section3";
@import "./components/section4";
@import "./components/section5";
@import "./components/filter";
@import "./components/portfolio";
@import "./components/footer";

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: var(--links-gray);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1200px;
}

.no-top-padding {
    padding-top: 0;
    padding-bottom: 94;
}

.no-bot-padding {
    padding-bottom: 0;
}

.custom-top-padding {
    padding-top: 50px;
}

img {
    display: block;
}


h1,
h2,
h3,
p,
ul {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

h1 {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}

/* Fonts for h2 Index */
.secondary-header {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--main-black-color);
}