.header-formating__logo {
    margin-right: 93px;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    color: $selected-color;
    text-decoration: none;
}



/* Separate color for logo in head*/
.header-formating__logo--2color {
    color: #000000;
}

/* Separate color for logo in footer */
.footer-formating__logo--2color {
    color: $primary-text-color;
}

.footer-formating__logo {
    margin-right: 93px;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.2;
    color: $selected-color;
    text-decoration: none;
}