/* Fonts for h3 Section 2 in Index */
.specification-list__header {
    margin-bottom: 10px;
    font-size: 14px;
    text-transform: uppercase;
    color: $main-black-color;
}

/* Fonts for p Section 2 */
.specification-list__title {
    font-weight: 400;
    line-height: 1.71;
    color: $links-gray;
}

/* Section 2 formating */

.specification-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.specification-list__item {

    max-width: 270px;

}

.specification-list .item:nth-child(n+5) {
    margin-top: 30px;
}


.specification-container {
    display: flex;
    height: 120px;
    margin-bottom: 30px;
    align-items: center;
    justify-content: center;
    background: #F5F4FA;
    border-radius: 4px;
}