.clients-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.clients-list__icon {
    width: 106px;
    height: 60px;
    fill: #AFB1B8;
    transition: fill $time $cubic;
}

.clients-list__links {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: border $time $cubic;
}

.clients-list__links:hover .clients-list__icon,
.clients-list__links:focus .clients-list__icon {
    fill: $selected-color;
}

.clients-list__links:hover,
.clients-list__links:focus {
    border: 1px solid $selected-color;
}